.a {
    background-color: aqua;
}

.b {
    background-color: rgb(65, 216, 236);
}
.c {
    background-color: rgb(43, 153, 226);
}
.d {
    background-color: rgb(26, 101, 161);
}
.e {
    background-color: rgb(37, 67, 124);
}
.f {
    background-color: rgb(25, 26, 99);
}
.g {
    background-color: rgb(21, 11, 114);
}

.h {
    background-color: rgb(3, 3, 65);
}

.i {
    background-color: rgb(1, 1, 46);
}